@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.page-container {
    margin: 0 12rem;
}

/* Navigation panel */
header {
    height: 5rem;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px solid hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-between;
}

/* left side nav panel buttons */
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-container {
    display: flex;
    margin-right: 25px;
}

.logo-container a {
    align-self: center;
    justify-content: center;
}

.navigation-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation ul li {
    margin: 15px;
    list-style-type: none;
    color: hsl(219, 9%, 45%);
}


/* right side nav panel buttons */
.user-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-container {
    margin-right: 40px;
}

.cart-icon {
    color: hsl(219, 9%, 45%);
}

.user-icon>a>img {
    width: 50px;
    height: 50px;
}

/* main content */

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 3rem 0 3rem;
}

/* images section */
.shoe-images-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.main-image img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.other-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.other-images>div.image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.other-images>div.image-container>div.image {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: cover;
    background-size: cover;
    border-radius: 10px;
    align-items: center;
}

.other-images>div.image-container:hover {
    outline: 3px solid hsl(26, 100%, 55%);
}

.other-images>div.image-container>div.image:hover {
    opacity: .4;
}

/* details section */

.details {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* headings */
#sneaker-h3 {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
}

#limited-h1 {
    color: hsl(220, 13%, 13%);
    font-size: 3rem;
    margin-top: 1rem;
}

/* description */
.description>p {
    line-height: 1.8rem;
    color: hsl(219, 9%, 45%);
}

/* prices */
.price {
    display: flex;
    flex-direction: column;
}

.current-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.current-price>p {
    margin-right: 1.5rem;
}

.current-price p:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

.current-price p:nth-child(2) {
    color: hsl(26, 100%, 55%);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3px 7px;
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
}

.original-price {
    margin-top: 1rem;
}

.original-price>p {
    color: hsl(220, 14%, 75%);
    font-weight: bold;
    text-decoration: line-through;
}