@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.page-container {
    margin: 0 12rem;
}

/* Navigation panel */
header {
    height: 5rem;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px solid hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-between;
}

/* left side nav panel buttons */
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-container {
    display: flex;
    margin-right: 25px;
}

.logo-container a {
    align-self: center;
    justify-content: center;
}

.navigation-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation ul li {
    margin: 15px;
    padding: 2.9rem 0;
    list-style-type: none;
    color: hsl(219, 9%, 45%);
    border-bottom: 4px solid transparent;

}

.navigation ul li:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
    cursor: pointer;
    color: hsl(220, 13%, 13%);
}


/* right side nav panel buttons */
.user-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-container {
    margin-right: 40px;
    border: none;
    background-color: transparent;
}

.cart-container:hover {
    cursor: pointer;
}

/* this is for old svg*/
.cart-icon {
    fill: hsl(219, 9%, 45%);
}


/* cart dropdown */
#cart-list {
    position: absolute;
    width: 21rem;
    height: 14rem;
    top: 9%;
    right: 7%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.08);

    display: none;
    flex-direction: column;
}

#cart-heading {
    height: 25%;
    border-bottom: 3px solid hsl(223, 64%, 98%);
}

#cart-list div:nth-child(1)>h3 {
    font-size: .9rem;
    margin-left: 1.5rem;
    color: hsl(220, 13%, 13%);
}

/* #cart-list div:nth-child(2) {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#empty-cart {
    text-align: center;
    color: hsl(219, 9%, 45%);
    font-weight: bold;
}

#cart-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.1rem 0;
}

.cart-item {
    /* display: flex; */
    /* display: none; */
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 90%;
    height: 3rem;
}


.image-thumbnail {
    width: 55px;
    height: 55px;
}

.image-thumbnail>img {
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.item-details {
    padding: 0 .8rem;
    line-height: 1.8;
}

.item-details h5 {
    margin: 0;
    text-align: left;
    color: hsl(219, 9%, 45%);
    font-weight: 300;
    align-self: flex-start;
}

.item-details h5:nth-child(1) {
    font-size: .9rem;
}

.item-details h5:nth-child(2) {
    font-size: 1rem;
}

.item-details>h5>strong {
    color: hsl(220, 13%, 13%);
}

.delete-icon {
    padding-left: 10px;
}

.delete-icon:hover {
    cursor: pointer;
}

#checkout-btn {
    /* display: none; */
    position: relative;
    top: 22%;
    border: none;
    padding: 1rem;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    font-size: 1rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

/* user icon */

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user-icon>img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user-icon:hover {
    outline: 3px solid hsl(26, 100%, 55%);
    cursor: pointer;
}

/* main content */

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem 3rem 0 3rem;
}

/* images section */
.shoe-images-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.main-image img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.other-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.other-images>div.image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.other-images>div.image-container>div.image {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: cover;
    background-size: cover;
    border-radius: 10px;
    align-items: center;
}

.other-images>div.image-container:hover {
    outline: 3px solid hsl(26, 100%, 55%);
}

.other-images>div.image-container>div.image:hover {
    opacity: .4;
}

/* details section */

.details {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* headings */
#sneaker-h3 {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
}

#limited-h1 {
    color: hsl(220, 13%, 13%);
    font-size: 3rem;
    margin-top: 1rem;
}

/* description */
.description>p {
    line-height: 1.8rem;
    color: hsl(219, 9%, 45%);
}

/* prices */
.price {
    display: flex;
    flex-direction: column;
}

.current-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.current-price>p {
    margin-right: 1.5rem;
}

.current-price p:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

.current-price p:nth-child(2) {
    color: hsl(26, 100%, 55%);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3px 7px;
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
}

.original-price {
    margin-top: 1rem;
}

.original-price>p {
    color: hsl(220, 14%, 75%);
    font-weight: bold;
    text-decoration: line-through;
}

/* add to cart buttons */
.cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quantity-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
}

.quantity-buttons>span {
    width: 4rem;
    height: 3.5rem;
    background-color: inherit;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-buttons span:nth-child(1),
.quantity-buttons span:nth-child(3) {
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.quantity-buttons span:nth-child(1):hover,
.quantity-buttons span:nth-child(3):hover {
    cursor: pointer;
}

.quantity-buttons span:nth-child(2) {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 7px;
}

.add-to-cart-btn>img {
    position: relative;
    display: inline;
    right: -28%;
    top: 3px;
}

.add-to-cart-btn>button {
    width: 19rem;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: hsl(26, 100%, 55%);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.add-to-cart-btn>button:hover {
    cursor: pointer;
    background-color: hsla(26, 100%, 55%, .7);
<<<<<<< Updated upstream
=======
}

.gallery {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 3;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100%;
    height: 100%;
}

.gallery-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close-gallery {
    position: relative;
    top: 9%;
    right: -97.5%;
    font-size: 2rem;
    width: 1rem;
    height: 1rem;
    transform: scale(1.3);
    fill: hsl(0, 0%, 100%);
}

#close-gallery:hover {
    fill: hsl(26, 100%, 55%);
    cursor: pointer;
}

#previous-icon,
#next-icon {
    position: relative;
    white-space: nowrap;
    background-color: hsl(0, 0%, 100%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 4;
}

#previous,
#next {
    width: 1.2rem;
    height: 1.2rem;
    transform: scale(1.5);
}

#next {
    position: relative;
    right: -15%;
}

#previous:hover,
#next:hover {
    fill: hsl(26, 100%, 55%);
    cursor: pointer;
}

#previous-icon {
    top: 49%;
    right: 4%;
}

#next-icon {
    top: 43%;
    left: 96%;
}

.current-image {
    width: 40rem;
    height: 40rem;
    border-radius: 10px;
}

.thumbnail-images-container {
    width: 40rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.image-thmb {
    width: 7rem;
    height: 7rem;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: cover;
    background-size: cover;
    border-radius: 10px;
    align-items: center;
}

.thumbnail-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.focus-img-container {
    outline: 3px solid hsl(26, 100%, 55%);
}

.focus-thmb-img {
    opacity: .5;
}

.image-thmb:hover {
    opacity: .5;
}

@media all and (min-width: 280px) and (max-width: 750px) {
    body {
        width: 100%;
        height: auto;
    }

    .page-container {
        margin: 0;
    }

    header {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #menu-btn {
        display: block;
        align-self: center;
        margin-right: .7rem;
        fill: hsl(219, 9%, 45%);
    }

    #cart-list {
        width: 95%;
        top: 10%;
        right: 3%;
        z-index: 3;
    }

    #cart-heading {
        display: flex;
        align-items: center;
    }

    #backdrop-mobile-navbar {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        background-color: hsla(0, 0%, 0%, 0.75);
    }

    .navigation-container {
        display: none;
        z-index: 3;
        width: 60vw;
        height: 100vh;
        margin: 0;
        position: absolute;
        left: 0%;
        background-color: hsl(0, 0%, 100%);
        z-index: 3;
    }

    .cart-container {
        margin-right: 20px;
        border: none;
        background-color: transparent;
    }

    #cart-count {
        width: 16px;
        height: 16px;
        position: relative;
        top: -13%;
        right: -27%;
        background-color: hsl(26, 100%, 55%);
        text-align: center;
        border-radius: 10px;
        font-size: 0.8rem;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
    }

    #close-navbar {
        display: inline-block;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation ul li {
        color: hsl(220, 13%, 13%);
        font-weight: 700;
        padding: 0;
        text-align: left;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .shoe-images-container {
        width: fit-content;
    }

    .main-image {
        width: 100vw;
        height: 25rem;
    }

    .main-image img {
        width: 100%;
        height: 100%;
        /* height: 37vh; */
        border-radius: 0;
    }

    #arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: -58%;
    }

    #previous-image,
    #next-image {
        /* display: inline-block;
        position: relative;
        z-index: 2;
        top: -58%; */
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: hsl(0, 0%, 100%);
        text-align: center;
        padding-top: .8rem;
    }

    #prev-img,
    #next-img {
        width: 1rem;
        height: 1rem;
        /* display: inline; */
        margin: auto;
    }

    #next-image {
        float: right;
    }

    .other-images {
        display: none;
    }

    .details-and-buttons-container {
        padding: 5%;
    }

    .details {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .headings {
        margin-bottom: .5rem;
    }

    #limited-h1 {
        font-size: 2rem;
    }

    .price {
        flex-direction: row;
        justify-content: space-between;
        margin: 1.3rem 0;
    }

    .original-price {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .cart-buttons {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .quantity-buttons {
        width: 100%;
    }

    .quantity-buttons>span {
        width: 35%;
    }

    #quantity {
        width: 30%;
    }

    .add-to-cart-btn {
        width: 100%;
    }

    .add-to-cart-btn>button {
        width: 100%;
    }
}


@media all and (min-width: 755px) and (max-width: 913px) {
    body {
        width: 100%;
        height: auto;
    }

    .page-container {
        margin: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    #menu-btn {
        display: block;
        align-self: center;
        margin-right: .7rem;
        fill: hsl(219, 9%, 45%);
    }

    #cart-list {
        width: 95%;
        top: 10%;
        right: 3%;
        z-index: 3;
    }

    #cart-heading {
        display: flex;
        align-items: center;
    }

    #backdrop-mobile-navbar {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        background-color: hsla(0, 0%, 0%, 0.75);
    }

    .navigation-container {
        display: none;
        z-index: 3;
        width: 60vw;
        height: 100vh;
        margin: 0;
        position: absolute;
        left: 0%;
        background-color: hsl(0, 0%, 100%);
        z-index: 3;
    }

    #close-navbar {
        display: inline-block;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation ul li {
        color: hsl(220, 13%, 13%);
        font-weight: 700;
        padding: 0;
        text-align: left;
    }


    main {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .shoe-images-container {
        width: fit-content;
    }

    .main-image {
        width: 100vw;
        height: 37rem;
    }

    .main-image img {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: -58%;
    }

    #previous-image,
    #next-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: hsl(0, 0%, 100%);
        text-align: center;
        padding-top: .8rem;
    }

    #prev-img,
    #next-img {
        width: 1rem;
        height: 1rem;
        margin: auto;
    }

    #next-image {
        float: right;
    }

    .other-images {
        display: none;
    }

    .details-and-buttons-container {
        padding: 5%;
    }

    .details {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .headings {
        margin-bottom: .5rem;
    }

    #limited-h1 {
        font-size: 2rem;
    }

    .price {
        flex-direction: row;
        justify-content: space-between;
        margin: 1.3rem 0;
    }

    .original-price {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .cart-buttons {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .quantity-buttons {
        width: 100%;
    }

    .quantity-buttons>span {
        width: 35%;
    }

    #quantity {
        width: 30%;
    }

    .add-to-cart-btn {
        width: 100%;
    }

    .add-to-cart-btn>button {
        width: 100%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {

    .page-container {
        margin: 0 4rem;
    }

    .navigation-container{
        display: flex;
    }

    main {
        flex-direction: column;
        align-items: center;
    }
>>>>>>> Stashed changes
}